body{
    background-image: url('https://content1.getnarrativeapp.com/static/3c56675e-0ff8-44a8-a04f-aecd63cd917c/Joshua-Tree-House-in-Tucson-Arizona.jpg?w=1500');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
    
}
