body{
    background-image: url('https://wallpapercave.com/wp/wp4049253.jpg');
    background-repeat: no-repeat;
    background-size: conver;
    background-attachment: fixed;
 
    
}

.table{
    background-color: rgba(255, 255, 255, 0.502);
    text-align: center;
}
